Source: pic32-tools
Section: compilers
Priority: extra
XBSC-Family: pic32
Maintainer: Matt Jenkins <matt@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/pic32-tools.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pic32-tools.git;a=summary

Package: pic32-tools
Architecture: any
XBSC-Group: PIC32
Depends: 
Description: PIC32 Compiler version 1.43
 This version of the GCC compiler is based on XC32 version 1.43 from Microchip.
